$navy : #34495E;
$Lwhite: #F4F6F6;

body{
  background-image: url("/bg1.png");
  background-position: top;
}

#input {
  text-align:left;
  background: $Lwhite;
  border: 3px solid black;
  padding: 10px 30px;
}

#repoName {
  text-align: left;
}
#repoDescription{
  text-align: left;
}

ol{
  color: $Lwhite;
}

h2, h3{
  color: $Lwhite;
  text-decoration-line: underline;
  padding: 10px;
}
